{% extends "::base.html.twig" %}

{% block title %}NFQ AKADEMIJA{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        .title {
            font-weight: 100;
            font-family: 'Lato';
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">NFQ Akademija</div>
{% endblock %}
