{% extends '::base.html.twig' %}

{% block title %}NFQ AKADEMIJA - VIEW{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            width: 100%;
        }
        .cell {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        td.buttons {
            width: 15%;
        }
    </style>

{% endblock %}

{% block body %}
    <div class='panel panel-default'>
        <div class="panel-heading"><h4>{{ post.title }}</h4></div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">
            {{ post.createdAt|date('Y-m-d H:i:s') }}
        </div>
    </div>

{% endblock %}